.container{
    background-color: black;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
}

.information-card{
    background-color: yellow;
    width: 100%;
}

.content-reflection {
    background-color: whitesmoke;
    width: 100%;
    margin: 10px 0px;
}